[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "*"
werkzeug = "*"
psycopg2 = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "bash -c \"export FLASK_DEBUG=true && flask run\""
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
