[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "*"
werkzeug = "*"
flask-login = "*"
email-validator = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "bash -c \"export FLASK_DEBUG=true && flask run\""
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
